/* general */
*{
    font-family: cursive;
}
/* the body */
img{
    width:100%;
    height:100vh;
    filter:brightness(0.4);
    position:absolute;
    z-index:0;
}
nav{
    height:100vh;
}
nav *{
    z-index:452;
}
h1{
    font-size:72px;
}